@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="h-100 container d-flex justify-content-center">
    <div class="w-50 d-flex justify-content-center">
        <div class="w-50 custom-border-div">
            <h1 class="text-center mb-0">User Login</h1>
            <form class="mt-4 custom-admin-user-form" method="post" onsubmit="showLoader()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <div class="input-group-svg" style="position:relative">
                        <svg style="position:absolute;left:10px;top:33%" xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 512 512"><path fill="currentColor" d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" /></svg>
                        <input type="email" id="email" class="form-control" asp-for='@Model.email' value="@Model.email" aria-describedby="emailHelp" placeholder="Enter a valid Email" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group-svg" style="position:relative">
                        <svg style="position:absolute;left:10px;top:33%" xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path>
                        </svg>
                        <input type="password" id="password" class="form-control" placeholder="Enter Password" value="@Model.password" asp-for='@Model.password' required>
                        <button type="button" class="btn text-light togglePassword" style="position:absolute; right:5px; top:0%; outline:none; box-shadow:none; border:none; background:none;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="15" width="16.75" viewBox="0 0 600 512"><path class="eyeIcon" fill="currentColor" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z" /></svg>
                        </button>
                    </div>
                </div>


                <div class="mb-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input class="form-check-input p-0" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Remember me
                        </label>
                    </div>
                    <a class="ms-auto" asp-page="/UserFolder/forgotPassword">Forgot Password ?</a>
                </div>
                @* <input type="submit" class="btn btn-primary mb-4" /> *@
                <button class="btn btn-primary mb-3 w-100" type="submit">Submit</button>
            </form>
            <p class="text-center mb-0">
                Login as
                <a asp-page="/Admin">Admin</a>
                <br />
                @* <button class="rounded bg-primary"><a class="text-light text-decoration-none" href="/UserFolder/UserIndex">Users</a></button> *@
                New User ?
                <a asp-page="/UserFolder/createUsers">Sign Up</a>
            </p>
        </div>
    </div>
</div>


<script>
   
</script>
@if (TempData["isSuccess"] != null)
{
    @if (Convert.ToBoolean(TempData["isSuccess"]) == false)
    {
        <script>
            toastr.error("@TempData["SuccessMSG"]", "Error");
        </script>
    }
}
